server {
  enabled = true
}

consul {
  tags = [ 
    "traefik.enable=true",
    "traefik.http.services.nomad.loadbalancer.server.port=4646",
    "traefik.http.routers.nomad.entrypoints=https",
    "traefik.http.routers.nomad.rule=HostRegexp(`nomad.{domain:.+}`)" ]
}

advertise {
  http = "x.x.x.x"
  rpc = "x.x.x.x"
  serf = "x.x.x.x:4648"
}

vault {
  enabled               = true
  address               = "http://localhost:8200"
  allow_unauthenticated = false
  task_token_ttl        = "30m"
}

client {
  enabled = true
  servers = ["x.x.x.x:4647"]
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}
